
/*-------------------Layout------------------*/
html, body, .capa{
    height: 100%;
}
body{
    background: url(img/capa.png),
                url(img/ruido.png),
                linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

/*---------------Navegação---------------------*/
.img-logo{
    height: 40px;
    width: 132px;
    margin-top: 10px;
    display: block;
    background: url(img/spotify.svg) no-repeat;
    background-size: contain;
}
.navCustom{
    background-color: rgba(0, 0, 0, 0.6);
}
.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 12px;
}
.nav{
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: #9bf0e1;
}
/*-------------------------------------------*/

/*---------------Imagem de Capa--------------*/
.capa{
    display: table;
    width: 100%;
}

.textoCapa{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

/*-------------------Botões---------------*/
.btnCustom{
    color: white;
    margin: 0 15px;
    border-radius: 500px;
    padding: 8px 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.4s, color 0.4s;
}
.btnRoxo{
    background: #7c25f8;
}
.btnRoxo:hover{
    background-color: #6207e3;
}
.btnBranco{
    border: 2px solid white;
}
.btnBranco:hover{
    background-color: white;
    color: black;
}

/*--------------- Serviços ------------------*/

#servicos{
    background: white;
    padding: 20px 0;

}
.albuns{
    padding: 10px;
}

/*--------------- Recursos ------------------*/

.rotate{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 110px;
    display: flex;
}

#recursos{
    color: white;
}

/*---------------Tipografia---------------*/
h1{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
h2{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    padding: 15px 0 15px 0;
}
h3{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
    padding-bottom: 5px;
}
#servicos h2, #servicos h3{
    color: #7c25f8;
}
#recursos h3{
    color: #9bf0e1;
}

#rodape h4{
    text-transform: uppercase;
    color: #919496;
    font-size: 12px;
}

/*----------------------------------------*/
/*--------------- Rodape ------------------*/
footer{
    background: black;
    position: relative;
}

